/*--- Basic styles ---*/
html{ overflow-y: scroll !important; }

body{
  font-family: $f-main;
  color: #000000;
  font-size: 16px;
  line-height: 1.4;
  padding-right: 0 !important;
}

.wrapper{
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
}

*{
  box-sizing: border-box;
  outline: none !important;
}

.fixed-form-veil{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 100;
  display: none;
}

.active-form{
  transform: translateX(0) !important;
}

a{
  text-decoration: none;
  &:hover,
  &:focus,
  &:active,
  &:visited{
    text-decoration: none !important;
    outline: none !important;
  }
}

.button{
  width: 200px;
  height: 50px;
  border: none;
  line-height: 50px;
  font-size: 16px;
  font-family: $f-bold;
  text-align: center;
  display: block;
  color: #ffffff !important;
  background-color: $accent;
  transition: all 0.5s;

  @media(max-width: 440px){
    width: 100%;
  }

  &:hover{
    background-color: #000000;
  }
}

.block-title {
  font-family: $f-med;
  font-size: 48px;
  line-height: 1.25;
  margin-top: 0;

  @media(max-width: 1199px){
    font-size: 42px;
  }

  @media(max-width: 992px){
    font-size: 35px;
  }

  @media(max-width: 767px){
    font-size: 25px;
  }
}

form{
  .form-group{
    height: 46px;

    .form-control{
      width: 100%;
      height: 100%;
      background-color: rgba(255,255,255,0.7);
      border-radius: 0;
      font-family: $f-main;
      border: none;
      box-shadow: none;
      padding-left: 25px;
      font-size: 16px;
      transition: all 0.5s;

      &:focus{
        background-color: #ffffff;
      }
    }
  }
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}


@mixin bg-img{
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.modal{
  .modal-dialog{
    margin-left: auto;
    margin-right: auto;

    .modal-content{
      width: 100%;
      border: none;
      box-shadow: none;
      border-radius: 0;

      .modal-header{
        padding: 0;
        border: none;
        position: relative;

        .close{
          opacity: 1;
          position: absolute;
          transition: all 0.5s;
          outline: none !important;

          &:hover{
            transform: rotate(90deg);
          }
        }
      }

      .modal-body{
        padding: 0;
        border: none;
      }
    }
  }
}

/*--------- ANIMATION ------------*/

.page-ready{
  transform: scale(1) !important;

  .info{
    opacity: 1;
  }

  .top-content{
    opacity: 1;
  }
}


.menu-slider{
  -webkit-animation: slide-menu 1s infinite ease-in-out;
  animation: slide-menu 1s infinite ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes slide-menu {
  0% {
    right: -200px;
  }

  100% {
    right: 0;
  }
}

@keyframes slide-menu {
  0% {
    right: -200px;
  }

  100% {
    right: 0;
  }
}

.menu-slider-out{
  -webkit-animation: slide-menu-out 1s infinite ease-in-out;
  animation: slide-menu-out 1s infinite ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes slide-menu-out {
  0% {
    right: 0;
  }

  100% {
    right: -200px;
  }
}

@keyframes slide-menu-out {
  0% {
    right: 0;
  }

  100% {
    right: -200px;
  }
}
