@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria/Geometria.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Geometria/Geometria.woff') format('woff'),
  url('../fonts/Geometria/Geometria.ttf')  format('truetype'),
  url('../fonts/Geometria/Geometria.svg#Geometria') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria-Medium';
  src: url('../fonts/Geometria-Medium/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Geometria-Medium/Geometria-Medium.woff') format('woff'),
  url('../fonts/Geometria-Medium/Geometria-Medium.ttf')  format('truetype'),
  url('../fonts/Geometria-Medium/Geometria-Medium.svg#Geometria-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria-Bold';
  src: url('../fonts/Geometria-Bold/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Geometria-Bold/Geometria-Bold.woff') format('woff'),
  url('../fonts/Geometria-Bold/Geometria-Bold.ttf')  format('truetype'),
  url('../fonts/Geometria-Bold/Geometria-Bold.svg#Geometria-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UberMove-Medium';
  src: url('../fonts/UberMove-Medium/UberMove-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/UberMove-Medium/UberMove-Medium.woff') format('woff'),
  url('../fonts/UberMove-Medium/UberMove-Medium.ttf')  format('truetype'),
  url('../fonts/UberMove-Medium/UberMove-Medium.svg#UberMove-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
