/*--- IMPORT ---*/

@import "fonts";
@import "variables";
@import "basic";
@import "popup";
@import "slick";
@import "slick-teame";


/*--- HEADER ---*/

header{
  background-color: #000;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 26px;
  padding-bottom: 26px;
  color: #ffffff;
  z-index: 100;

  .logo{
    img{
      @media(max-width: 575px){
        width: 100%;
        height: auto;
      }
    }
  }

  .phone{
    display: flex;
    justify-content: space-between;

    @media(max-width: 992px){
      font-size: 14px;
    }

    @media(max-width: 440px){
      max-width: 180px !important;
      flex: 0 0 180px !important;
    }

    a{
      color: #ffffff;
      font-family: $f-bold;
      display: inline-block;
      transition: all 0.5s;

      &:hover{
        color: $accent;

        p{
          color: $accent;
        }
      }

      p{
        display: inline-block;
        transition: all 0.5s;
        margin-bottom: 0;

        @media(max-width: 767px){
          display: none;
        }
      }
    }
  }
}

/*--- top-baner ---*/

.top-baner{
  background-color: #ffffff;
  padding-top: 74px;
  padding-bottom: 215px;
  align-items: flex-start;

  @media(max-width: 992px){
    padding-bottom: 100px;
  }

  @media(max-width: 470px){
    padding-bottom: 50px;
  }

  .row{
    @media(max-width: 992px){
      flex-direction: column-reverse;
    }
  }

  .text{
    padding-top: 135px;

    @media(max-width: 1199px){
      padding-top: 80px;
    }

    @media(max-width: 992px){
      padding-top: 40px;
    }

    h1{
      margin-bottom: 33px;
      font-size: 42px;
      font-family: $f-med;

      @media(max-width: 1199px){
        font-size: 34px;
      }

      @media(max-width: 470px){
        font-size: 28px;
        margin-bottom: 23px;
      }
    }

    p{
      max-width: 335px;
      font-size: 24px;
      margin-bottom: 45px;
      letter-spacing: -0.02em;

      @media(max-width: 1199px){
        font-size: 20px;
        max-width: 290px;
      }

      @media(max-width: 470px){
        font-size: 18px;
        margin-bottom: 25px;
      }
    }

    .button{
      margin-bottom: 85px;

      @media(max-width: 1199px){
        margin-bottom: 75px;
      }

      @media(max-width: 470px){
        margin-bottom: 45px;
      }
    }

    .small{
      max-width: 417px;
      opacity: 0.34;
      letter-spacing: -0.02em;
      font-size: 16px;

      @media(max-width: 470px){
        font-size: 14px;
      }
    }
  }

  .pic{
    img{
      width: 100%;
      height: auto;
    }
  }

}

/*--- uber ---*/

.uber{
  background-color: #ffffff;
  padding-bottom: 87px;

  .content{
    background-color: #F8F8F9;
    padding-top: 75px;
    padding-bottom: 97px;

    @media(max-width: 992px){
      padding-bottom: 75px;
    }

    .items-wrapper{
      margin: 0 auto;
      width: 900px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      @media(max-width: 1199px){
        width: 800px;
      }

      @media(max-width: 992px){
        width: 600px;
      }

      @media(max-width: 767px){
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
      }

      .pic{
        width: 375px;
        height: auto;

        @media(max-width: 1199px){
          width: 300px;
        }

        @media(max-width: 992px){
          width: 250px;
        }

        @media(max-width: 767px){
          margin-bottom: 30px;
        }
      }

      .text{
        width: 410px;
        font-size: 22px;
        margin-bottom: 0;

        @media(max-width: 380px){
          font-size: 20px;
        }

        @media(max-width: 992px){
          width: 300px;
          font-size: 18px;
        }

        @media(max-width: 767px){
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}

/*--- uber-advantage ---*/

.uber-advantage{
  padding-left: 12%;

  @media(max-width: 1620px){
    padding-left: 10%;
  }

  @media(max-width: 1460px){
    padding-left: 8%;
  }

  @media(max-width: 1199px){
    padding-left: 5%;
  }

  @media(max-width: 992px){
    padding-left: 0;
  }

  .content-aer{
    background-color: #F8F8F9;
    padding-top: 114px;
    padding-bottom: 106px;
    position: relative;
    z-index: 2;
    padding-right: 12%;

    @media(max-width: 1620px){
      padding-right: 10%;
    }

    @media(max-width: 1460px){
      padding-right: 8%;
    }

    @media(max-width: 1199px){
      padding-right: 5%;
      padding-top: 95px;
      padding-bottom: 85px;
    }

    @media(max-width: 992px){
      padding-right: 0;
    }

    @media(max-width: 767px){
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }

  .block-title{
    margin-bottom: 53px;

    @media(max-width: 767px){
      margin-bottom: 40px;
    }

    span{
      font-family: $f-u-med;
    }
  }

  .item-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media(max-width: 575px){
      justify-content: space-between;
    }
  }

  .item{
    margin-bottom: 63px;
    width: 278px;

    @media(max-width: 767px){
      width: 230px;
      margin-bottom: 30px;
    }

    @media(max-width: 575px){
      width: 90%;
    }

    img{
      margin-bottom: 30px;

      @media(max-width: 767px){
        margin-bottom: 20px;
      }
    }

    h3{
      margin-top: 0;
      font-size: 24px;
      font-family: $f-bold;
      margin-bottom: 11px;

      @media(max-width: 992px){
        font-size: 22px;
      }

      @media(max-width: 767px){
        font-size: 18px;
      }
    }
  }

  .button{
    @media(max-width: 767px){
      margin-top: 20px;
    }
  }
}

/*--- why-we ---*/

.why-we{
  position: relative;
  z-index: 1;
  background-color: #000000;
  margin-top: -155px;
  padding-top: 271px;
  padding-bottom: 220px;
  color: #ffffff;

  @media(max-height: 992px){
    padding-bottom: 110px;
  }

  @media(max-width: 767px){
    padding-top: 205px;
  }

  @media(max-width: 440px){
    padding-bottom: 55px;
  }

  .block-title{
    margin-bottom: 75px;

    @media(max-width: 767px){
      margin-bottom: 40px;
    }
  }

  .item-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media(max-width: 1199px){
      flex-wrap: wrap;
    }
  }

  .text{
    display: flex;
    width: 470px;
    justify-content: space-between;
    flex-wrap: wrap;

    @media(max-width: 1199px){
      width: 100%;
    }

    .item{
      width: 100%;
      font-size: 22px;
      font-family: $f-med;
      margin-bottom: 36px;


      @media(max-width: 767px){
        font-size: 20px;
      }

      @media(max-width: 575px){
        font-size: 18px;
      }
    }
  }

  .pic-animation-wrapper{
    width: 686px;
    height: auto;
    position: relative;
    overflow: hidden;
    margin-right: -140px;

    @media(max-width: 1199px){
      width: 100%;
      margin-right: 0;
    }

    img{
      width: 100%;
      height: auto;
      position: relative;
      z-index: 1;
    }

    .pic-visible-animation{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000000;
      z-index: 2;
      transition: all 1s;
    }
  }

  .pic-animation{
    .pic-visible-animation{
      transform: translateX(101%);
    }
  }
}
/*--- popularity ---*/

.popularity{
  background-color: #ffffff;
  padding-top: 119px;
  padding-bottom: 70px;

  @media(max-width: 767px){
    padding-top: 50px;
    padding-bottom: 20px;
  }

  .block-title{
    margin-bottom: 75px;

    @media(max-width: 767px){
      margin-bottom: 50px;
    }
  }

  .item{
    margin-bottom: 50px;

    @media(max-width: 767px){
      margin-bottom: 30px;
    }

    span{
      display: block;
      margin-bottom: 32px;
      font-family: $f-med;

      @media(max-width: 767px){
        margin-bottom: 16px;
      }
    }

    p{
      font-size: 22px;
      margin-bottom: 0;

      @media(max-width: 992px){
        font-size: 20px;
      }

      @media(max-width: 767px){
        font-size: 18px;
      }

      @media(max-width: 440px){
        font-size: 16px;
      }
    }
  }
}

/*--- pictures ---*/

.pictures{
  background-color: #ffffff;

  .pic-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;


    @media(max-width: 380px){
      flex-wrap: wrap;
      padding: 0 20px;
    }

    .pic-animation-wrapper{
      height: auto;
      position: relative;
      overflow: hidden;

      &:nth-child(1){
        width: 39%;

        @media(max-width: 380px){
          width: 100%;
          margin-bottom: 20px;
        }
      }
      &:nth-child(2){
        width: 59%;

        @media(max-width: 380px){
          width: 100%;
        }
      }

      img{
        width: 100%;
        height: auto;
        position: relative;
        z-index: 1;
      }

      .pic-visible-animation{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        z-index: 2;
        transition: all 1s;
      }
    }

    .pic-animation{
      .pic-visible-animation{
        transform: translateX(101%);
      }
    }
  }
}

/*--- requirement ---*/

.our-driver{
  background-color: #ffffff;
  padding-top: 67px;
  padding-bottom: 100px;

  @media(max-width: 767px){
    padding-top: 40px;
    padding-bottom: 50px;
  }

  .block-title{
    margin-bottom: 50px;

    @media(max-width: 767px){
      margin-bottom: 30px;
    }
  }

  ul{
    padding: 0;
    margin: 0;
    padding-left: 30px;
    margin-bottom: 28px;
    column-count: 2;
    column-gap: 46px;

    @media(max-width: 575px){
      column-count: 1;
      column-gap: 0;
    }

    li{
      font-size: 16px;
      margin-bottom: 15px;

      @media(max-width: 992px){
        font-size: 14px;
      }

      @media(max-width: 575px){
        font-size: 16px;
      }

      a{
        color: $accent;
        font-family: $f-med;
        text-decoration: underline;
      }
    }
  }

  .content{
    .button{
      background-color: #000000;
      color: #ffffff;
    }
  }
}

/*--- uber-black ---*/

.uber-black{
  background-color: #000000;
  padding-top: 85px;
  padding-bottom: 99px;
  color: #ffffff;

  @media(max-width: 767px){
    padding-top: 40px;
    padding-bottom: 50px;
  }

  h2{
    font-size: 36px;
    font-family: $f-med;
    max-width: 807px;
    margin-top: 0;
    margin-bottom: 30px;
    position: relative;
    z-index: 2;

    @media(max-width: 992px){
      font-size: 30px;
    }

    @media(max-width: 575px){
      font-size: 23px;
    }
  }

  p{
    font-size: 22px;
    font-family: $f-med;
    margin-bottom: 30px;
    position: relative;
    z-index: 2;

    @media(max-width: 992px){
      font-size: 20px;
    }

    @media(max-width: 575px){
      font-size: 18px;
    }
  }

  .button{
    background-color: #ffffff;
    color: #000000 !important;

    &:hover{
      background-color: $accent;
      color: #ffffff !important;
    }
  }

  .content{
    position: relative;

    .pic{
      position: absolute;
      bottom: -75px;
      right: -308px;

      @media(max-width: 1199px){
        width: 666px;
        height: auto;
        right: -150px;
      }

      @media(max-width: 992px){
        position: relative;
        width: 100%;
        bottom: auto;
        right: auto;
      }
    }
  }
}

/*--- documents ---*/

.documents{
  padding-left: 12%;

  @media(max-width: 1620px){
    padding-left: 10%;
  }

  @media(max-width: 1460px){
    padding-left: 8%;
  }

  @media(max-width: 1199px){
    padding-left: 5%;
  }

  @media(max-width: 992px){
    padding-left: 0;
  }

  .content-aer{
    background-color: #F8F8F9;
    padding-top: 111px;
    padding-bottom: 50px;
    padding-right: 12%;

    @media(max-width: 1620px){
      padding-right: 10%;
    }

    @media(max-width: 1460px){
      padding-right: 8%;
    }

    @media(max-width: 1199px){
      padding-right: 5%;
      padding-top: 90px;
    }

    @media(max-width: 992px){
      padding-right: 0;
    }

    @media(max-width: 767px){
      padding-top: 50px;
    }
  }

  .block-title{
    margin-bottom: 70px;

    @media(max-width: 767px){
      margin-bottom: 40px;
    }
  }

  .item-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .item{
      width: 295px;
      margin-bottom: 73px;

      @media(max-width: 1199px){
        width: 320px;
      }

      @media(max-width: 767px){
        margin-bottom: 40px;
        width: 230px;
      }

      @media(max-width: 510px){
        width: 100%;
      }

      h4{
        font-size: 24px;
        font-family: $f-bold;
        margin-bottom: 32px;
        margin-top: 0;

        @media(max-width: 992px){
          font-size: 22px;
        }

        @media(max-width: 767px){
          margin-bottom: 20px;
          font-size: 18px;
        }
      }
    }
  }
}

/*--- driver-steps ---*/

.driver-steps{
  background-color: #ffffff;
  padding-top: 112px;
  padding-bottom: 109px;

  @media(max-width: 1199px){
    padding-top: 95px;
    padding-bottom: 90px;
  }

  @media(max-width: 767px){
    padding-top: 50px;
    padding-bottom: 10px;
  }

  .block-title{
    margin-bottom: 60px;

    @media(max-width: 767px){
      margin-bottom: 40px;
    }
  }

  .item-wrapper{
    display: flex;
    justify-content: space-between;

    @media(max-width: 767px){
      flex-wrap: wrap;
    }

    .item{
      width: 220px;

      @media(max-width: 992px){
        width: 210px;
      }

      @media(max-width: 767px){
        width: 100%;
        margin-bottom: 40px;
      }

      .number{
        font-family: $f-med;
        margin-bottom: 18px;
      }

      .text{
        margin-bottom: 0;
      }
    }
  }
}

/*--- contact-form ---*/

.contact-form{
  background-color: #000000;
  padding-top: 112px;
  padding-bottom: 116px;
  color: #ffffff;

  @media(max-width: 767px){
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .block-title{
    margin-bottom: 28px;
  }

  h3{
    max-width: 660px;
    margin: 0 0 28px;
    font-size: 16px;
  }

  .form-wrapper{
    max-width: 460px;

    @media(max-width: 992px){
      max-width: 390px;
    }

    @media(max-width: 767px){
      max-width: 100%;
    }

    form{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .paralel{
        display: flex;
        justify-content: space-between;
        width: 100%;

        .form-group{
          width: 222px !important;
        }
      }

      .mor-btn-wrapper{
        display: flex;
        margin-bottom: 28px;
        width: 100%;

        a{
          height: 30px;
          line-height: 30px;
          padding: 0 10px;
          font-size: 12px;
          background-color: #283138;
          color: #A9ADAF;
          transition: all 0.5s;
        }

        .open-more{
          background-color: #ffffff;
          color: #A9ADAF;
        }

        p{
          line-height: 30px;
          margin-bottom: 0;
          margin-left: 12px;
          font-size: 12px;
        }
      }

      .form-group{
        /*width: 100%;*/
        height: 54px;
        margin-bottom: 15px;
        position: relative;

        @media(max-width: 992px){
          width: 189px;
        }

        @media(max-width: 767px){
          width: 48.5%;
        }

        @media(max-width: 420px){
          width: 100%;
        }

        .small{
          position: absolute;
          width: 375px;
          font-size: 12px;
          top: 32px;
          right: -410px;

          @media(max-width: 992px){
            width: 275px;
            top: 19px;
            right: -310px;
          }

          @media(max-width: 767px){
            width: 100%;
            position: relative;
            right: 0;
            top: 0;
            text-align: center;
            margin-top: 10px;
          }
        }

        .form-control{
          background-color: #283138;
          color: #ffffff;
          padding-left: 19px;

          @media(max-width: 992px){
            padding-left: 10px;
          }
        }

        .file-wrapper{
          width: 100%;
          height: 100%;
          background-color: #283138;
          color: #ffffff;
          padding-left: 19px;
          padding-top: 15px;
          cursor: pointer;
          position: relative;

          @media(max-width: 992px){
            padding-left: 10px;
          }

          img{
            margin-right: 15px;
          }

          span{
            font-size: 16px;
            font-family: $f-bold;
            position: absolute;
            right: 20px;
            top: 16px;
          }

          .file-name-type{
            margin-top: -45px;
            color: #A9ADAF;
          }
        }

        .file-upload-input{
          display: none;
        }

        #fl_nm1,
        #fl_nm2,
        #fl_nm3,
        #fl_nm4{
          margin-top: 26px;
          color: #A9ADAF;
          font-size: 16px;
          margin-bottom: 0;
        }
      }


      .more-form-content {
        display: none;

        select {
          width: 100%;
          height: 54px;
          border: none;
          border-radius: 0;
          -webkit-appearance: none;
          background-image: url('../img/select-arrow.svg');
          background-position: 95% center;
          background-repeat: no-repeat;
          background-color: #283138;
          margin-bottom: 15px;
          color: #A9ADAF;
          line-height: 1em;
          /* for FF */
          -moz-appearance: none;
          text-indent: 0.01px;
          text-overflow: '';
          /* for IE */
          -ms-appearance: none;
          appearance: none!important;

          &:focus{
            outline: none !important;
            border: none !important;
            color: #ffffff;
          }
        }

        select::-ms-expand {
          display: none;
        }

        .file-group{
          margin-top: 55px;
        }

        .small{
          margin-bottom: 0;
        }
      }

      .button{
        background-color: #ffffff;
        color: #000000 !important;
        cursor: pointer;
        margin-top: 30px;

        @media(max-width: 420px){
          width: 100%;
          margin-bottom: 20px;
        }

        &:hover{
          background-color: $accent;
          color: #ffffff !important;
        }
      }
    }
  }
}

/*--- footer ---*/

footer{
  background-color: #000000;
  padding-bottom: 26px;
  padding-top: 33px;
  border-top: 1px solid rgba(255,255,255,0.4);

  .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media(max-width: 460px){
      justify-content: space-around;
    }

    p{
      opacity: 0.5;
      color: #ffffff;

      @media(max-width: 460px){
        text-align: center;
      }

      a{
        text-decoration: underline;
        transition: all 0.5s;
        color: #ffffff;

        &:hover{
          color: $accent;
        }

      }
    }
  }
}

/*--- fixed-form ---*/

.fixed-form{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: #000000;
  width: 845px;
  padding-left: 98px;
  display: flex;
  align-items: center;
  z-index: 101;
  transition: all 0.5s;
  transform: translateX(101%);

  @media(max-width: 1199px){
    width: 645px;
    padding-left: 40px;
  }

  @media(max-width: 767px){
    width: 445px;
    height: auto;
    align-items: flex-start;
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 25px;
    padding-right: 25px;
    overflow: hidden;
  }

  .close-btn{
    position: absolute;
    top: 66px;
    right: 90px;
    transition: all 0.5s;

    @media(max-width: 1199px){
      right: 35px;
    }

    @media(max-width: 767px){
      top: 20px;
      right: 20px;
    }

    &:hover{
      transform: rotate(90deg);
    }
  }

  .content-wrapper{
    color: #ffffff;

    @media(max-width: 767px){
      overflow-y: scroll;
    }

    .block-title{
      margin-bottom: 28px;
    }

    h3{
      max-width: 500px;
      margin: 0 0 28px;
      font-size: 16px;
    }

    .form-wrapper{
      max-width: 460px;

      @media(max-width: 992px){
        max-width: 390px;
      }

      @media(max-width: 767px){
        max-width: 100%;
      }

      form{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .form-group{
          width: 222px;
          height: 54px;
          margin-bottom: 15px;
          position: relative;

          @media(max-width: 992px){
            width: 189px;
          }

          @media(max-width: 767px){
            width: 100%;
          }

          &:nth-child(5){
            width: 100%;
            height: 98px;
          }

          .small{
            position: absolute;
            width: 375px;
            font-size: 12px;
            top: 32px;
            right: -410px;

            @media(max-width: 992px){
              width: 275px;
              top: 19px;
              right: -310px;
            }

            @media(max-width: 767px){
              width: 100%;
              position: relative;
              right: 0;
              top: 0;
              text-align: center;
              margin-top: 10px;
            }
          }

          .form-control{
            background-color: #283138;
            color: #ffffff;
            padding-left: 19px;

            @media(max-width: 992px){
              padding-left: 10px;
            }
          }

          .file-wrapper{
            width: 100%;
            height: 100%;
            background-color: #283138;
            color: #ffffff;
            padding-left: 19px;
            padding-top: 15px;
            cursor: pointer;

            @media(max-width: 992px){
              padding-left: 10px;
            }

            img{
              margin-right: 10px;
            }

            span{
              font-size: 16px;
              opacity: 0.4;
            }
          }

          .file-upload-input{
            display: none;
          }

          #fl_nm {
            margin-top: 5px;
            color: #fff;
            font-size: 14px;
          }
        }

        .button-wrapper{
          position: relative;
          margin-bottom: 117px;

          @media(max-height: 750px){
            margin-bottom: 50px;
          }

          @media(max-width: 420px){
            width: 100%;
          }

          .button{
            @media(max-width: 420px){
              width: 100%;
              margin-bottom: 20px;
            }
          }

          .small{
            width: 170px;
            position: absolute;
            right: -197px;
            top: 8px;

            @media(max-width: 420px){
              width: 100%;
              position: relative;
              text-align: center;
              right: auto;
              top: auto;
            }
          }
        }
      }
    }
  }
}

/*--- car-modal---*/

.car-modal{
  .modal-dialog{
    max-width: 1332px !important;


    .modal-content{
      background-color: #ffffff;
      padding-top: 144px;
      padding-bottom: 151px;
      padding-left: 120px;

      .modal-header{
        .close{
          top: -51px;
          right: 90px;
        }

        h4{
          margin-bottom: 38px;
          text-align: center;
        }
      }

      .modal-body{
        .alphabet-wrapper{
          width: 810px;
          margin-bottom: 56px;
          display: flex;
          justify-content: space-between;

          a{
            color: #276EF1;
            text-transform: uppercase;
            font-family: $f-med;
          }

          .disable{
            color: rgba(0,0,0,0.2) !important;
            cursor: default;
          }
        }

        .car-name-wrapper{
          width: 500px;

          .car-name{
            display: flex;
            justify-content: space-between;

            .litera{
              width: 73px;
              font-family: $f-med;
            }

            .model{
              width: 325px;

              h3{
                font-family: $f-med;
                margin-top: 0;
                margin-bottom: 31px;
              }
            }

            .year{
              width: 85px;

              h3{
                font-family: $f-med;
                margin-top: 0;
                margin-bottom: 31px;
              }
            }
          }
        }
      }
    }
  }
}

/*--- thx-page ---*/

.thx-page{
  min-height: 100vh;
  position: relative;

  header{
    .phone{
      justify-content: flex-end;

      p{
        display: block !important;
      }
    }
  }

  .top-baner{
    padding-bottom: 0 !important;
  }

  footer{
    border-top: none !important;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    @media(max-height: 779px){
      position: relative;
    }
  }
}